@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>User List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.id_users</td>
                    <td>@user.SName</td>
                    <td>@user.SEmail</td>
                    <td>@user.SPhone</td>
                    <td>@user.SDate</td>
                </tr>
            }
        </tbody>
    </table>
  
    <div>
        <h1>Рассылка на почту новостей</h1>
    </div>
</div>
