@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>User List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.id_users</td>
                    <td>@user.SName</td>
                    <td>@user.SEmail</td>
                    <td>@user.SPhone</td>
                    <td>@user.SDate</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        
    </div>
    <div>
        <h1>Рассылка на почту новостей</h1>

        <div id="successMessage" class="alert alert-success" style="display: none;">
        Письмо успешно отправлено!
    </div>

    <form id="newsletterForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="newsTitle">Заголовок новости</label>
            <input type="text" class="form-control" id="newsTitle" name="newsTitle" required>
        </div>
            <div style="color: white;">---</div>
      
                <button type="button" class="btn btn-primary" id="sendButton">Отправить</button>
       
    </form>
    </div>
</div>

<script>
   
</script>
